.my-fs-14-px{
    font-size: 14px;
}

.my-fs-18-px{
    font-size: 18px;
}

.my-border-dashed{
    border-style:dashed;
}

.my-cursor-pointer{
    cursor: pointer;
}

.raw-token{
    resize:none;
    height:100px;
}

.my-shadow{
    box-shadow: 3px -3px 10px 2px rgba(0,0,0,0.50);
}

.my-bg-brown{
    background-color: rgb(178, 48, 1);
}

.my-bg-orange{
    background-color: rgba(255, 132, 2, 0.7);
}

.my-border-orange{
    border: 2px solid rgba(255, 132, 2);
}

.my-bg-yellow{
    background-color: rgba(255, 247, 2, 0.7);
}

.my-border-yellow{
    border: 2px solid rgba(255, 202, 0);
}

.my-word-wrap{
    word-wrap: break-word;
}

.my-api-width-range{
    max-width: 250px !important;
    min-width:200px !important;
}

#book-description{
    resize:none;
    height:70px;
}